/* 共通 */
body {
  font-family: "Avenir",Arial,"Yu-Gothic","Yu Gothic","游ゴシック体","Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  margin: 0;
  padding: 0;
}
a{
 text-decoration: none;
}
.header-container{
  width: 89%;
  margin: 0 auto;
}
.container{
  width: 83%;
  margin: 0 auto;
}
.nav-txt{
  font-size: 15px;
  font-weight: 400;
  color: #6E6E6E;
  margin: 0;
}
.sub-title{
  font-family: 'Times New Roman';
  font-size: 40px;
  font-weight: 600;
  color: #6E6E6E;
}
.sub-title2{
  font-size: 22px;
  font-weight: 400;
  color: #343434;
}
.txt{
  font-size: 15px;
  font-weight: 400;
  color: #343434;
}
.btn-txt{
  font-family: 'Times New Roman';
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}
.item-name{
  font-size: 17px;
  font-weight: 400;
  color: #343434;
}
.link-btn{
  color: #343434;
  background-color: #fff;
  width: 162px;
  border: 1px solid #707070;
  display: block;
  height: 28px;
  transition: 0.25s;
}
.link-btn .txt{
  line-height: 28px;
}
.btn-icon{
  margin-right: 10px;
  margin-left: 18px;
  line-height: 26px;
}
/* ----共通部分 */

/* 共通フッター */
footer{
  background-color: #f8f8f8;
}
.footer-txt{
  display: block;
  color: #343434;
  font-size: 15px;
}
.footer-contents{
  display: flex;
  padding-top: 45px;
  margin-bottom: 70px;
}
.caution{
  width: 325px;
}
.sns-links{
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sns-link{
  display: block;
  color: #343434;
  font-size: 24px;
  opacity: 0.8;
  transition: 0.2s;
}
.sns-link:hover{
  opacity: 1;
}
.contacts{
  width: 325px;
}
.tell-n,.email-ad{
  display: flex;
}
.tell-n{
  margin-bottom: 20px;
}
.contact-icon{
  color: #343434;
  font-size: 15px;
  margin-top: 4px;
  margin-right: 10px;
}
.copyright{
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
}
.copyright-txt{
  color: #343434;
  font-size: 14px;
  line-height: 19px;
}
/* ----共通フッター */

/* index.html */
header{
  height: 110px;
  width: 100%;
  background-color: #ffffff;
}
.htop{
  height: 70px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
}
.header-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}
.hbottom{
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #C7C7C7;
  background-color: #ffffff;
}
.header-container{
  display: flex;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  width: 47%;
  padding-left: 3%;
  margin: 0 auto;
}
.nav-button{
  display: block;
  height: 40px;
  color: #6E6E6E;
}
.nav-txt:hover{
  color: #343434;
}
.nav-txt{
 display: inline-block;
 height: 40px;
 padding-top: 17px;
}
.cart-img{
  padding-top: 13px;
}
.top-img-box{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: url(../images/inside1.jpg);
  background-repeat: no-repeat;
}

.home-content-wrapper{
  text-align: center;
  padding-top: 71px;
  padding-bottom: 84px;
}
.home-content-wrapper .sub-title{
  margin-bottom: 71px;
}
.home-content-wrapper .sub-title2{
  margin-bottom: 51px;
}
.home-content-wrapper .txt-content{
  width: 66%;
  margin: 0 auto;
}
.b-pink{
  background-color: #F6D8CC;
}
.b-white{
  background-color: #fff;
}
.our-story .txt-content{
  padding-bottom: 20px;
}

div.img-link-box{
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.img-btn{
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
  opacity: 0.85;
}
.img-btn:hover{
  transform: scale(1.1);
  opacity: 1;
}
.btn-txt{
  position: absolute;
  top: 45%;
  right: 4%;
}
.link-img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.inside-link-img{
  background-image: url(../images/inside5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.inside-tools-img{
  background-image: url(../images/pot1.jpg);
  background-size: cover;
  background-position: 40% 0;
  background-repeat: no-repeat;
}
.inside-cafe-img{
  background-image: url(../images/cafe1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.link-about{
  display: flex;
}
.store .link-btn{
  margin: 0 auto;
}
.store .link-btn .txt{
  margin-left: 7px;
}
.online-shop .txt-content{
  margin-bottom: 140px;
}
.online-shop .link-btn{
  margin: 0 auto;
}
.movie-wrapper{
  width: 525px;
  margin: 0 auto;
}
.movie-frame{
  width: 525px;
  border-radius: 4px;
  margin-top: 89px;
}
.map-wrapper{
  width: 100%;
  height:  529px;
}
.map-frame{
  width: 100%;
  height: 529px;
}
/* -----index.html */

/*  news.html*/
.head-img{
  height: 113px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.news-head-img{
  background-image: url(../images/plant5.jpg);
}
.head-img .container{
  height: 113px;
  position: relative;
}
.news-head-img .sub-title{
  position: absolute;
  right: 0;
  bottom: 0;
}
.news-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
  padding-bottom: 70px;
}
.article-content, .article-img{
  width: 49%;
}
.article-title{
  border-bottom: 2px solid #FC9696;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 27px;

}
.date{
  color: #343434;
  font-size: 13px;
  padding-top: 14px;
}
.article-content{
  height: 397px;
  position: relative;
}
.article-content .link-btn{
  position: absolute;
  left: 0;
  bottom: 0;
}
.article-img{
  height: 397px;
  border-radius: 5px;
}
#news-cafe .article-img{
  background-image: url(../images/cafe2.jpg);
  background-position: center center;
}
#news-soil .article-img{
  background-image: url(../images/soil1.jpg);
  background-position: center center;
}
.order1{
  order: 1;
}
.order2{
  order: 2;
}
/* ---news.html */

/* about.html */
.aboutus-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
  padding-bottom: 70px;
}
#aboutus .article-content{
  width: 55%;
  height: 535px;
}
#aboutus .article-img{
  width: 30%;
  height: 535px;
  border-radius: 0;
  background-image: url(../images/plant8.jpg);
  background-size: cover;
  margin-left: 8%;
}
.contents-wrapper{
  text-align: center;
  padding-bottom: 50px;
}
.contents-wrapper .sub-title{
  width: 352px;
  margin: 0 auto;
  padding-top: 77px;
  border-bottom: 2px solid #FC9696;
}
.grid-contents-box{
  margin-top: 40px;
  margin-bottom: 55px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 325px;
  grid-row-gap: 40px;
}
.grid-item{
  width: 325px;
  height: 325px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
}
.grid-bottom-txt{
  width: 535px;
  margin: 0 auto;
}
#inside-itemA{
  background-image: url(../images/inside3.jpg);
}
#inside-itemB{
  background-image: url(../images/inside4.jpg);
}
#inside-itemC{
  background-image: url(../images/inside5.jpg);
}
#cafe-itemA{
  background-image: url(../images/cafe1.jpg);
}
#cafe-itemB{
  background-image: url(../images/cafe2.jpg);
}
#cafe-itemC{
  background-image: url(../images/plant3.jpg);
}
#plants-itemA{
  background-image: url(../images/botanic1.jpg);
}
#plants-itemB{
  background-image: url(../images/plant7.jpg);
}
#plants-itemC{
  background-image: url(../images/plant6.jpg);
}
#plants-itemD{
  background-image: url(../images/pot4.jpg);
}
#plants-itemE{
  background-image: url(../images/plant2.jpg);
}
#plants-itemF{
  background-image: url(../images/pot3.jpg);
}
/* ---about.html */

/* online.html */
.online-head-img{
  background-image: url(../images/plant1.jpg);
  background-position: center 64%;
}
.online-head-img .sub-title{
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}

.online-top-wrapper{
  text-align: center;
  padding-top: 48px;
}
.online-top-wrapper .sub-title2{
  padding-bottom: 37px;
}
.online-top-wrapper .txt{
  width: 60%;
  margin: 0 auto;
}

.online-content-wrapper{
  padding-top: 77px;
  padding-bottom: 58px;
}
.online-content-wrapper .sub-title{ 
  text-align: center;
  width: 352px;
  border-bottom: 2px solid #FC9696;
  margin: 0 auto;
}
.o-grid-contents-box{
  margin-top: 55px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 325px; */
  grid-row-gap: 55px;
}
.o-grid-item{
  text-align: center;
}
.o-item-img:hover{
  cursor: pointer;
}
.o-item-info{
  width: 100%;
}
.o-item-info .item-name{
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 7px;
}
.o-item-info .price{
  margin: 0 auto;
  padding-bottom: 16px;
}
.cart-btn{
  width: 130px;
  height: 28px;
  font-size: 13px;
  line-height: 28px;
  color: #fff;
  background-color: #707070;
  text-align: center;
  cursor: pointer;
}
.o-item-info .cart-btn{
  margin: 0 auto;
}

.o-item-img{
  width: 325px;
  height: 325px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
}
#o-item-img1{
  background-image: url(../images/plant2.jpg);
}
#o-item-img2{
  background-image: url(../images/pot5.jpg);
}
#o-item-img3{
  background-image: url(../images/pot4.jpg);
}
#o-item-img4{
  background-image: url(../images/pot3.jpg);
}
#o-item-img5{
  background-image: url(../images/pot7.jpg);
}
#o-item-img6{
  background-image: url(../images/pot6.jpg);
}
#o-item-img7{
  background-image: url(../images/pot8.jpg);
  background-position: center right;
}
#o-item-img8{
  background-image: url(../images/pot10.jpg);
  background-position: center right;
}
#o-item-img9{
  background-image: url(../images/pot9.jpg);
}
#o-item-img10{
  background-image: url(../images/soil1.jpg);
}
#o-item-img11{
  background-image: url(../images/plant7.jpg);
}
#o-item-img12{
  background-image: url(../images/botanic4.jpg);
}

/* extra.html */
.etc-wrapper{
  width: 100%;
  height: 100vh;
  text-align: center;
}
.etc-wrapper .sub-title{
  margin-top: 4%;
}
.etc-wrapper .txt{
  margin-top: 4%;
  width: 60%;
  margin: 0 auto;
}
.etc-top-link{
  color: lightseagreen;
}